﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4" style="color:cadetblue">CI/CD Testing!!!</h1>
    <h1 class="display-4" style="color:green">Hey your page is working fine!!!</h1>
    @*<h1 class="display-4" style="color:red">CI/CD Testing</h1>*@
</div>
